.zundercuck.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
}

/* Sheet Header */
.zundercuck.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.zundercuck.sheet .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.zundercuck.sheet .charname {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 0;
    border-bottom: 0;
}
.zundercuck.sheet .charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.zundercuck.sheet .sheet-hr {
    border-top: 1px solid #a9a9a9; 
    border-bottom: unset;
}

.zundercuck.sheet .stat-container {
    display: flex; 
    flex: 1.5; 
    height: auto; 
    margin-bottom: 2px;
    flex-basis: 100%;
}

.zundercuck.sheet .stat{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 5px;
}
.zundercuck.sheet .stat span {
    margin-bottom: -3px;
    place-self: center;
    white-space: nowrap;
    overflow: hidden;
}
.zundercuck.sheet .stat input {
    margin-top: 3px;
    text-align: center;
    width: 30px;
    height: 30px;
    min-width: auto;
    place-self: center;
    font-size: 12pt;
}
.zundercuck.sheet .stat .input-small {
    width: 25px;
    height: 25px;
    margin-top: 18px;
    font-size: 10pt;
}
.zundercuck.sheet .stat .input-large {
    width: 40px;
    height: 40px;
    font-size: 14pt;
}
.zundercuck.sheet .stat .input-wide {
    width: 100px;
    height: 40px;
    font-size: 14pt;
}

.zundercuck.sheet .checkresource {
    height: 40px;
    width: 50%;
    padding: 3px 10px;
    float: left;
}
.zundercuck.sheet .checkresource input {
    width: 25px;
    height: 15px;
    margin: 10px;
}

/* Navigation Tabs */
.zundercuck.sheet .tabs {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.zundercuck.sheet .tabs .item {
    line-height: 25px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.zundercuck.sheet .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

/* Content Tabs */
.zundercuck.sheet .sheet-body {
    height: calc(100% - 192px);
}
.zundercuck.sheet .sheet-body .tab {
    height: 100%;
}
.zundercuck.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}


/* Items */
.zundercuck.sheet .items-list {
    list-style: none;
    margin: 0 0;
    padding: 2px 0 0;
    overflow-y: auto;
    flex: 1;
}
.zundercuck.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.zundercuck.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.zundercuck.sheet .items-list .item-name {
    margin: 0;
}
.zundercuck.sheet .items-list .item-controls {
    flex: 0 0 54px;
}

/* Attributes */
.zundercuck.sheet .attributes-header { 
    padding: 5px;
    margin: 5px 0 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.zundercuck.sheet .attribute-label { 
    flex: 1.5;
}
.zundercuck.sheet .attribute-control { 
    flex: 0 0 20px;
}

.zundercuck.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 2px 0 0;
    overflow-y: auto;
    flex: 1;
}

.zundercuck.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.zundercuck.sheet .attribute-value.checkbox {
    text-align: center;
}

.zundercuck.sheet .attributes-list li a.attribute-control {
    border: none;
}